<ion-header>
  <ion-toolbar color="secondary" style="text-align: center;">
    <ion-button (click)="closeModal()" fill="clear" slot="start">
      <ion-icon slot="icon-only" name="arrow-back" style="color: black"></ion-icon>
    </ion-button>
    <ion-title>Registrar negocio</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="back-color">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card color="primary">
          <ion-card-header style="text-align: center;">
            <ion-card-title>Información del negocio</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <form [formGroup]="basicInfoForm">
              <ion-item color="primary">
                <ion-label>Tipo de negocio</ion-label>
                <ion-select formControlName="businessTypeId" interface="action-sheet">
                  <ion-select-option value="1">Colmado</ion-select-option>
                  <ion-select-option value="2">Farmacia</ion-select-option>
                  <ion-select-option value="3">Banca</ion-select-option>
                  <ion-select-option value="4">Mini-Market</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item lines="none" color="primary" *ngIf="isValidField('businessTypeId', basicInfoForm) === 'is-invalid'">
                <ion-text color="danger" class="form-error" *ngIf="basicInfoForm.get('businessTypeId').errors?.required">Debes seleccionar un tipo de negocio</ion-text>
              </ion-item>
              <ion-item color="primary">
                <ion-label position="floating"><ion-icon name="storefront-outline"></ion-icon> Nombre del negocio</ion-label>
                <ion-input type="text" formControlName="businessName"></ion-input>
              </ion-item>
              <ion-item lines="none" color="primary" *ngIf="isValidField('businessName', basicInfoForm) === 'is-invalid'">
                <ion-text color="danger" class="form-error" *ngIf="basicInfoForm.get('businessName').errors?.required">Debes escribir el nombre del negocio</ion-text>
              </ion-item>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-card color="primary">
          <ion-card-header style="text-align: center;">
            <ion-card-title>Dirección del negocio</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <form [formGroup]="locationForm">
              <ion-item color="primary">
                <ion-label>País</ion-label>
                <ion-select interface="action-sheet" formControlName="country">
                  <ion-select-option value="República Dominicana">República Dominicana</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item lines="none" color="primary" *ngIf="isValidField('country', locationForm) === 'is-invalid'">
                <ion-text color="danger" class="form-error" *ngIf="locationForm.get('country').errors?.required">Debes escoger un país</ion-text>
              </ion-item>
              <ion-item color="primary">
                <ion-label position="floating"><ion-icon name="compass-outline"></ion-icon> Provincia</ion-label>
                <ion-input type="text" formControlName="province"></ion-input>
              </ion-item>
              <ion-item lines="none" color="primary" *ngIf="isValidField('province', locationForm) === 'is-invalid'">
                <ion-text color="danger" class="form-error" *ngIf="locationForm.get('province').errors?.required">Debes escribir la provincia</ion-text>
              </ion-item>
              <ion-item color="primary">
                <ion-label position="floating"><ion-icon name="pin-outline"></ion-icon> Ciudad</ion-label>
                <ion-input type="text" formControlName="city"></ion-input>
              </ion-item>
              <ion-item lines="none" color="primary" *ngIf="isValidField('city', locationForm) === 'is-invalid'">
                <ion-text color="danger" class="form-error" *ngIf="locationForm.get('city').errors?.required">Debes escribir la ciudad</ion-text>
              </ion-item>
              <ion-item color="primary">
                <ion-label position="floating"><ion-icon name="navigate-circle-outline"></ion-icon> Calle 1</ion-label>
                <ion-input type="text" formControlName="street1"></ion-input>
              </ion-item>
              <ion-item lines="none" color="primary" *ngIf="isValidField('street1', locationForm) === 'is-invalid'">
                <ion-text color="danger" class="form-error" *ngIf="locationForm.get('street1').errors?.required">Debes escribir al menos una calle</ion-text>
              </ion-item>
              <ion-item color="primary">
                <ion-label position="floating"><ion-icon name="navigate-circle-outline"></ion-icon> Calle 2</ion-label>
                <ion-input type="text" formControlName="street2"></ion-input>
              </ion-item>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-card color="primary">
          <ion-card-header style="text-align: center;">
            <ion-card-title>Contacto del negocio</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <form [formGroup]="contactForm">
              <ion-item color="primary">
                <ion-label position="floating"><ion-icon name="call-outline"></ion-icon> Teléfono</ion-label>
                <ion-input type="text" formControlName="businessPhoneNumber"></ion-input>
              </ion-item>
              <ion-item lines="none" color="primary" *ngIf="isValidField('businessPhoneNumber', contactForm) === 'is-invalid'">
                <ion-text color="danger" class="form-error" *ngIf="contactForm.get('businessPhoneNumber').errors?.required">Debes escribir un teléfono</ion-text>
                <ion-text color="danger" class="form-error" *ngIf="contactForm.get('businessPhoneNumber').errors?.minlength">Debes escribir 10 números</ion-text>
                <ion-text color="danger" class="form-error" *ngIf="contactForm.get('businessPhoneNumber').errors?.maxlength">Debes escribir 10 números</ion-text>
                <ion-text color="danger" class="form-error" *ngIf="contactForm.get('businessPhoneNumber').errors?.pattern">Solo puedes escribir números</ion-text>
              </ion-item>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button expand="block" color="tertiary" (click)="saveBusiness()" [disabled]="basicInfoForm.invalid || locationForm.invalid || contactForm.invalid">
          Guardar negocio
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
