<ion-header>
  <ion-toolbar color="secondary" style="text-align: center;">
    <ion-button slot="start" fill="clear" (click)="goToLogin()">
      <ion-icon slot="icon-only" name="arrow-back" style="color: black;"></ion-icon>
    </ion-button>
    <ion-title>MorocotoApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #dbd3d3;">
  <div style="width: 100%; height: 100%; display: flex; justify-content: center; align-items: center;">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-card color="primary">
            <ion-card-header style="text-align: center;">
              <ion-card-title style="font-weight: bold;">Cambiar mi contraseña</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <form [formGroup]="changePasswordForm">
                <ion-item color="primary">
                  <ion-label position="floating"><ion-icon name="card-outline"></ion-icon> Cédula (sin guiones) *</ion-label>
                  <ion-input type="text" formControlName="identificationDocument"></ion-input>
                </ion-item>
                <div *ngIf="isValidField('identificationDocument') === 'is-invalid'">
                    <p style="font-size: 12px; color: red;" *ngIf="changePasswordForm.get('identificationDocument').errors?.required">Este campo es requerido</p>
                    <p style="font-size: 12px; color: red;" *ngIf="changePasswordForm.get('identificationDocument').errors?.minlength">Solo escribe 11 números</p>
                    <p style="font-size: 12px; color: red;" *ngIf="changePasswordForm.get('identificationDocument').errors?.maxlength">Solo escribe 11 números</p>
                    <p style="font-size: 12px; color: red;" *ngIf="changePasswordForm.get('identificationDocument').errors?.pattern">Solo escribe números</p>
                </div>
                <ion-item color="primary">
                  <ion-label>Pregunta de seguridad</ion-label>
                  <ion-select formControlName="securityQuestionId" interface="action-sheet">
                    <ion-select-option value="1">Mejor amigo de la infancia</ion-select-option>
                  </ion-select>
                </ion-item>
                <div *ngIf="isValidField('securityQuestionId') === 'is-invalid'">
                  <p style="font-size: 12px; color: red;" *ngIf="changePasswordForm.get('securityQuestionId').errors?.required">Este campo es requerido</p>
                </div>
                <ion-item color="primary">
                  <ion-label position="floating"><ion-icon name="chatbox-outline"></ion-icon> Respuesta</ion-label>
                  <ion-input formControlName="securityAnswer" type="text"></ion-input>
                </ion-item>
                <div *ngIf="isValidField('securityAnswer') === 'is-invalid'">
                  <p style="font-size: 12px; color: red;" *ngIf="changePasswordForm.get('securityAnswer').errors?.required">Este campo es requerido</p>
                </div>
                <ion-item color="primary">
                  <ion-label position="floating"><ion-icon name="key-outline"></ion-icon> Contraseña *</ion-label>
                  <ion-input type="password" formControlName="password"></ion-input>
                </ion-item>
                <div *ngIf="isValidField('password') === 'is-invalid'">
                  <p style="font-size: 12px; color: red;" *ngIf="changePasswordForm.get('password').errors?.required">Este campo es requerido</p>
                  <p style="font-size: 12px; color: red;" *ngIf="changePasswordForm.get('password').errors?.minlength">Solo escribe al menos 4 números</p>
                  <p style="font-size: 12px; color: red;" *ngIf="changePasswordForm.get('password').errors?.maxlength">No escribas más de 8 números</p>
                  <p style="font-size: 12px; color: red;" *ngIf="changePasswordForm.get('password').errors?.pattern">Solo escribe números</p>
                </div>
                <ion-item color="primary">
                  <ion-label position="floating"><ion-icon name="key-outline"></ion-icon> Repite la contraseña *</ion-label>
                  <ion-input type="password" formControlName="confirmPassword"></ion-input>
                </ion-item>
                <div *ngIf="isValidField('confirmPassword') === 'is-invalid'">
                  <p style="font-size: 12px; color: red;" *ngIf="changePasswordForm.get('confirmPassword').errors?.required">Este campo es requerido</p>
                  <p style="font-size: 12px; color: red;" *ngIf="changePasswordForm.get('confirmPassword').errors?.minlength">Escribe al menos 4 números</p>
                  <p style="font-size: 12px; color: red;" *ngIf="changePasswordForm.get('confirmPassword').errors?.maxlength">No escribas más de 8 números</p>
                  <p style="font-size: 12px; color: red;" *ngIf="changePasswordForm.get('confirmPassword').errors?.pattern">Solo escribe números</p>
                </div>
                <div style="margin-top: 20px; text-align: center;">
                  <ion-button (click)="changePassword()" expand="block" color="tertiary">
                    Cambiar contraseña
                  </ion-button>
                  <a [routerLink]="['/login']" style="text-decoration: underline; color: black;">Volver</a>
                </div>
              </form>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>