/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */
 /**
 * Extracted from: SweetAlert
 * Modified by: Istiak Tridip
 */

@font-face {
    font-family: 'MontserratBlack';
    src: url('./assets/fonts/Montserrat-ExtraBold.ttf');
 }

@font-face {
    font-family: 'Montserrat';
    src: url('./assets/fonts/Montserrat-Regular.ttf');
}

*{
font-family: 'Montserrat';
}

@mixin loginLabel($background) {
    position: relative;
    width: 100%;
    &::before{
        content: "";
        position: absolute;
        left: 10px;
        top: 0;
        bottom: 0;
        width: 20px;
        border-right-style: solid;
        border-right-width: 1px;
        border-right-color: gray;
        background: $background  center / contain no-repeat;
    }

    input{
        background-color: white;
        font-family: 'Montserrat';
        padding: 10px 40px;
        border: solid var(--ion-color-tertiary) 1px;
        border-radius: 20px;
        color: var(--ion-color-tertiary);
        outline: none;

        &::placeholder{
            color: var(--ion-color-tertiary);
        }
    }
}

.login-user-morocoto-label{
    @include loginLabel(url("./assets/icon/MtoUserIcon.svg"));
}
.login-password-morocoto-label{
    @include loginLabel(url("./assets/icon/MtoPasswordIcon.svg"));
}

.morocoto-button{
    border-style: none;
    font-family: 'Montserrat';
    font-size: 20px;
    border-radius: 120px;
    padding: 15px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(224,104,217,1) 0%, rgba(74,37,112,1) 100%);
}

.success-checkmark {
    width: 100%;
    height: 40%;
    margin: 0 auto;
    
    .check-icon {
        width: 80px;
        height: 80px;
        position: relative;
        border-radius: 50%;
        box-sizing: content-box;
        border: 4px solid #4CAF50;
        
        &::before {
            top: 3px;
            left: -2px;
            width: 30px;
            transform-origin: 100% 50%;
            border-radius: 100px 0 0 100px;
        }
        
        &::after {
            top: 0;
            left: 30px;
            width: 60px;
            transform-origin: 0 50%;
            border-radius: 0 100px 100px 0;
            animation: rotate-circle 4.25s ease-in;
        }
        
        &::before, &::after {
            content: '';
            height: 100px;
            position: absolute;
            background: #FFFFFF;
            transform: rotate(-45deg);
        }
        
        .icon-line {
            height: 5px;
            background-color: #4CAF50;
            display: block;
            border-radius: 2px;
            position: absolute;
            z-index: 10;
            
            &.line-tip {
                top: 46px;
                left: 14px;
                width: 25px;
                transform: rotate(45deg);
                animation: icon-line-tip 0.75s;
            }
            
            &.line-long {
                top: 38px;
                right: 8px;
                width: 47px;
                transform: rotate(-45deg);
                animation: icon-line-long 0.75s;
            }
        }
        
        .icon-circle {
            top: -4px;
            left: -4px;
            z-index: 10;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            position: absolute;
            box-sizing: content-box;
            border: 4px solid rgba(76, 175, 80, .5);
        }
        
        .icon-fix {
            top: 8px;
            width: 5px;
            left: 26px;
            z-index: 1;
            height: 85px;
            position: absolute;
            transform: rotate(-45deg);
            background-color: #FFFFFF;
        }
    }
}

@keyframes rotate-circle {
    0% {
        transform: rotate(-45deg);
    }
    5% {
        transform: rotate(-45deg);
    }
    12% {
        transform: rotate(-405deg);
    }
    100% {
        transform: rotate(-405deg);
    }
}

@keyframes icon-line-tip {
    0% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    54% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    70% {
        width: 50px;
        left: -8px;
        top: 37px;
    }
    84% {
        width: 17px;
        left: 21px;
        top: 48px;
    }
    100% {
        width: 25px;
        left: 14px;
        top: 45px;
    }
}

@keyframes icon-line-long {
    0% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    65% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    84% {
        width: 55px;
        right: 0px;
        top: 35px;
    }
    100% {
        width: 47px;
        right: 8px;
        top: 38px;
    }
}

 .action-sheet-group{
     --background: white;
     .action-sheet-button{ color: black;}
 }
 .error-toast{
     --background: red;
     color: white;
 }
 .picker-wrapper{
    --background: white;
    color: black;
    .picker-opt-selected{
        color: black;
    }
    .picker-button{
        color: black;
    }
 }
 .error-message{
     --background: red;
     color: white;
 }
 .info-alert .alert-wrapper{
     background: white;
     color: black;

     .alert-head{
         text-align: center;
         .alert-title{
             color: black;
             font-weight: bold;
         }
     }
     .alert-message{
         color: black;
     }
     .alert-button{
         color: black;
     }
 }
 .my-loading .loading-wrapper{
     background: white;
     .loading-content{
         color: black;
     }
     .spinner-crescent{
         color: black;
     }
 }
 .back-color{
    --background: #dbd3d3;
 }
/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
