/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

 .action-sheet-group{
     --background: white;
     .action-sheet-button{ color: black;}
 }
 .error-toast{
     --background: red;
     color: white;
 }
 .picker-wrapper{
    --background: white;
    color: black;
    .picker-opt-selected{
        color: black;
    }
    .picker-button{
        color: black;
    }
 }
 .error-message{
     --background: red;
     color: white;
 }
 .info-alert .alert-wrapper{
     background: white;
     color: black;

     .alert-head{
         text-align: center;
         .alert-title{
             color: black;
             font-weight: bold;
         }
     }
     .alert-message{
         color: black;
     }
     .alert-button{
         color: black;
     }
 }
 .my-loading .loading-wrapper{
     background: white;
     .loading-content{
         color: black;
     }
     .spinner-crescent{
         color: black;
     }
 }
 .back-color{
    --background: #dbd3d3;
 }
/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
